#include "resources.h"
#include <windows.h>

IDR_MAINMENU MENU DISCARDABLE
BEGIN
     POPUP "&File"
     BEGIN
          POPUP "&Load.."
          BEGIN
               MENUITEM "&Manifold",          ID_FILE_LOAD_MANIFOLD
               MENUITEM "&3DManifold",        ID_FILE_LOAD_3DMANIFOLD
               MENUITEM "&Plane",             ID_FILE_LOAD_PLANE
          END
          POPUP "&Save As.."
          BEGIN
               MENUITEM "Triangulation",         ID_FILE_SAVE_TRIANGULATION
               MENUITEM "Flow Results",          ID_FILE_SAVE_FLOW
               MENUITEM "Plane Results",         ID_FILE_SAVE_PLANE
          END
          MENUITEM SEPARATOR
          MENUITEM "E&xit",                      ID_FILE_EXIT
     END
     POPUP "&Run"
     BEGIN
          POPUP "Fl&ow"
          BEGIN
               MENUITEM "&Euclidean",            ID_RUN_FLOW_EUCLIDEAN
               MENUITEM "&Spherical",            ID_RUN_FLOW_SPHERICAL
               MENUITEM "&Hyperbolic",           ID_RUN_FLOW_HYPERBOLIC
               MENUITEM "&Yamabe",               ID_RUN_FLOW_YAMABE
          END
          MENUITEM "Flip &Algorithm",              ID_RUN_FLIPALGORITHM
          MENUITEM "&Weighted Flip Algorithm",      ID_RUN_WEIGHTEDFLIPALGORITHM
     END
END
          
IDD_MAIN DIALOG DISCARDABLE   0, 0, 400, 220
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Triangulations Program"
MENU    IDR_MAINMENU
FONT 8, "MS Sans Serif"
BEGIN
     EDITTEXT IDC_HIDDENTEXT, 0, 0, 20, 20, ES_MULTILINE |ES_AUTOVSCROLL | ES_AUTOHSCROLL
     LTEXT  "Console", IDC_STATIC, 7, 10, 30, 8
     EDITTEXT IDC_CONSOLE, 7, 35, 150, 150, ES_READONLY| ES_MULTILINE
     PUSHBUTTON "Show Results", IDC_RESULTSBUTTON, 180, 10, 75, 14
     COMBOBOX IDC_RESULTSSELECTBOX, 265, 10, 60, 60, WS_BORDER|WS_VSCROLL|CBS_DROPDOWNLIST
     EDITTEXT IDC_RESULTSFIELD, 180, 35, 200, 150, WS_VSCROLL | WS_HSCROLL | ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL
     CONTROL "Progress", IDC_PROGRESS, PROGRESS_CLASS, PBS_SMOOTH, 7, 200, 150, 10
     
END
          
IDD_CHOOSEFILETYPE DIALOG DISCARDABLE 0, 0, 150, 70
STYLE  DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU                  
CAPTION "Select Triangulation Format"
FONT 8, "MS Sans Serif"
BEGIN
     DEFPUSHBUTTON   "&OK",IDOK,95,10,40,14
     PUSHBUTTON      "&Cancel",IDCANCEL,95,30,40,14
     LTEXT "Choose the format the file\n is in:", IDC_STATIC, 7, 10, 80, 20
     COMBOBOX IDC_FORMATSELECTBOX, 7, 35, 50, 40, WS_BORDER|WS_VSCROLL|CBS_DROPDOWNLIST
END     

IDD_FLOWDIALOG DIALOG DISCARDABLE 0, 0, 160, 130
STYLE DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION | WS_SYSMENU
CAPTION "Flow"
FONT 8, "MS Sans Serif"
BEGIN
     DEFPUSHBUTTON   "&OK",IDOK,30,100,40,20
     PUSHBUTTON      "&Cancel",IDCANCEL,90,100,40,20
     LTEXT "Number of Steps:", IDC_STATIC, 7, 10, 60, 8
     EDITTEXT IDC_STEPSTEXT, 70, 10, 30, 12, ES_NUMBER
     AUTOCHECKBOX "Smart Flow",IDC_SMART_CB, 110,10,50,10, BS_AUTOCHECKBOX
     LTEXT "Accuracy:", IDC_STATIC, 7, 25, 60, 8
     EDITTEXT IDC_ACCTEXT, 57, 25, 43, 12, ES_READONLY
     LTEXT "Step size:", IDC_STATIC, 7, 40, 60, 8
     EDITTEXT IDC_DTTEXT, 57, 40, 43, 12
     LTEXT "Weights:", IDC_STATIC, 7, 55, 30, 8
     COMBOBOX IDC_WEIGHTSELECTBOX, 57, 55, 45, 50, WS_BORDER|WS_VSCROLL|CBS_DROPDOWNLIST
     LTEXT "Flow:", IDC_STATIC, 7, 70, 30, 8
     COMBOBOX IDC_FLOWSELECTBOX, 57, 70, 45, 40, WS_BORDER|WS_VSCROLL|CBS_DROPDOWNLIST
END

/*
         _____________________________________________
        |===========================================|X|
        | __________________________________Step:_000 |
        ||                                           ||
        ||                                           ||
        ||                                           ||
        ||             Polygon Flow                  ||
        ||                goes here                  ||
        ||                                           ||
        ||                                           ||
        ||                                           ||
        ||                                           ||
        ||                                           ||
        ||                                           ||
        ||___________________________________________||
        |         ____     _________  _________       |
        | Speed: |____|   |   Run   ||  Stop   |      |
        |                 |_________||_________|      |
        |_____________________________________________|
        
*/
IDD_POLYGON DIALOG DISCARDABLE 0, 0, 400, 400
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Polygon Flow"
FONT 8, "MS Sans Serif"
BEGIN
     EDITTEXT     IDC_POLYGON, 20, 20, 370, 340, ES_READONLY
     LTEXT        "Step:", IDC_STATIC, 340, 10, 20, 10
     LTEXT        "----",     IDC_POLYGON_STEP, 360, 10, 35, 10
     LTEXT        "Speed (ms/step):", IDC_STATIC, 60, 375, 55, 10
     EDITTEXT     IDC_POLYGON_SPEED, 120, 374, 20, 12, ES_NUMBER
     PUSHBUTTON   "&Run",IDPOLYGON,160,370,50,20
     PUSHBUTTON   "&Stop",IDPOLYGON_STOP,230,370,50,20
END

/*
           ___________________________________________
          |========================================|X|
          | ____________  ______ ______  ____________ |
          ||            ||______|______||            ||
          ||  List of   |    _______    |  List of   ||
          ||  Vertices  |   |_______|   |   Edges    ||
          ||            | ______ ______ |            ||
          ||            ||______|______||            ||
          ||            |    _______    |            ||
          ||            |   |_______|   |            ||
          ||____________|   |_______|   |____________||
          | ___________________   ___________________ |
          ||                   | |                   ||
          ||  Flower of        | |  Edge and circles ||
          ||   selected vertex | |    of respective  ||
          ||                   | |       vertices    ||
          ||                   | |                   ||
          ||___________________| |___________________||
          |___________________________________________|



  */
IDD_RADII DIALOG DISCARDABLE 0, 0, 315, 335
STYLE DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION | WS_SYSMENU
CAPTION "Choose Radii & Angles"
FONT 8, "MS Sans Serif"
BEGIN
     
     LISTBOX     IDC_RADII_LIST,10,10,90,165,LBS_NOINTEGRALHEIGHT | 
                    LBS_EXTENDEDSEL | WS_VSCROLL | WS_TABSTOP
     EDITTEXT    IDC_RADII_FLOWER, 10, 180, 145, 145, ES_READONLY
     
     LTEXT       "Radii", IDC_STATIC, 115, 20, 30, 10
     LTEXT       "cos Angle", IDC_STATIC, 165, 20, 35, 10
     EDITTEXT    IDC_RADII, 105, 35, 50, 15
     EDITTEXT    IDC_ETA, 160, 35, 50, 15
     DEFPUSHBUTTON "&Set", IDRADII_SET, 130, 65, 55, 20
     PUSHBUTTON      "&Random Radii", IDRADII_RANDOM, 105, 95, 52, 20
     PUSHBUTTON      "Random &Angles", IDETA_RANDOM, 160, 95, 52, 20
     PUSHBUTTON   "&OK",IDOK,130,125,55,20
     PUSHBUTTON      "&Cancel",IDCANCEL,130,155,55,20
     
     LISTBOX     IDC_ETA_LIST,215,10,90,165,LBS_NOINTEGRALHEIGHT | 
                    LBS_EXTENDEDSEL | WS_VSCROLL | WS_TABSTOP
     EDITTEXT    IDC_ETA_FLOWER, 160, 180, 145, 145, ES_READONLY
END
     
     
